{{ $header_img := .Scratch.Get "header_img" }}

{{ with $header_img }}
<header class="intro-header" style="background-image: url('{{- . -}}')">
  {{ else}}
  <header class="intro-header style-text">
    {{ end }}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ if eq (.Param "short") true }}
          <div class="site-heading" id="tag-heading">
            {{ else }}
            <div class="site-heading">
              {{ end }}
              <h1>{{ .Site.Title }}</h1>
              {{ $description := .Description }}
              {{ if .IsHome }}
              {{ $description = .Site.Params.description }}
              {{ end }}
              <span class="subheading">{{ $description }}</span>
            </div>
          </div>
        </div>
      </div>
  </header>